*{
	margin:0;
	padding:0;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}
html,body,header{
	height:100%;
}
html{
	font-size: 10px;
	font-family: 'Open Sans Condensed ', sans-serif;
}
.nav-wrapper{
	position: absolute;
	height: 120px;
	display:flex;
	padding: 0 100px;
	width: 100%;
	-ms-align-items:center;
	align-items: center;
	justify-content: space-between;
}
.topnav{
	display:flex;
	justify-content: flex-end;
	background-color: green;
	width: 75%;
	-ms-align-items:center;
	align-items: center;
}
.nav-link{
	text-decoration: none;
	color:black;
	display:inline;
	font-size: 1.5rem;
}
.nav-link+.nav-link {
	margin-left: 3%;
}
.logo{
	font-size: 2.2rem;
	font-weight: bold;
}
.search {
	background-image: url(../img/free-icon-loupe.png);
	background-position: 0px center;
	background-repeat: no-repeat;
	-webkit-background-size:13px 13px;
	background-size: 13px 13px;
}